* {
    margin-left: 20px;
    color: navy;
}

h1 {
    font-size: 70px;
  }

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
    color: green;
}

ul {
    font-size: 24px;
    color: red;
}

a {
    font-size: 20px;
}

  a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: black;
    text-align: center;
    font-size: 30px;
  }